<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.test.dao.PaperDao">

    <!-- 数据库表映射 -->
    <resultMap id="paperRM" type="com.example.test.entity.Paper">
        <id property="paperId" column="tst_no"/>
        <result property="paperName" column="tst_name"/>
        <result property="createTime" column="tst_time"/>
        <result property="paperType" column="tst_type"/>
        <result property="paperDif" column="tst_dif"/>
        <result property="problemNum" column="tst_num"/>
        <result property="score" column="tst_score"/>
        <result property="teacherId" column="tst_tea"/>
    </resultMap>

    <!-- 新增 -->
    <insert id="insert" parameterType="com.example.test.entity.Paper">
        insert into test
        (tst_name, tst_time, tst_type, tst_dif, tst_num, tst_score, tst_tea)
        values
        (#{paperName},#{createTime},#{paperType},
        #{paperDif},#{problemNum},#{score}, #{teacherId})
    </insert>

    <!-- 修改 -->
    <update id="update" parameterType="com.example.test.entity.Paper">
        update test
        <set>
            <if test="paperName!=null">
                tst_name=#{paperName},
            </if>
            <if test="createTime!=null">
                tst_time=#{createTime},
            </if>
            <if test="paperType!=null">
                tst_type=#{paperType},
            </if>
            <if test="paperDif!=null">
                tst_dif=#{paperDif},
            </if>
            <if test="problemNum!=null">
                tst_num=#{problemNum},
            </if>
            <if test="score!=null">
                tst_score=#{score},
            </if>
            <if test="teacherId!=null">
                tst_tea=#{teacherId},
            </if>
        </set>
        where tst_no=#{paperId}
    </update>

    <update id="updatePaper">
        update t_paper
        <set>
            <if test="paperName!=null">
                tst_name=#{paperName},
            </if>
            <if test="createTime!=null">
                tst_time=#{createTime},
            </if>
            <if test="paperType!=null">
                tst_type=#{paperType},
            </if>
            <if test="paperDif!=null">
                tst_dif=#{paperDif},
            </if>
            <if test="problemNum!=null">
                tst_num=#{problemNum},
            </if>
            <if test="score!=null">
                tst_score=#{score},
            </if>
        </set>
        where tst_no=#{paperId}
        and tst_tea=#{teacherId}
    </update>

    <!-- 查询所有记录 -->
    <select id="find" parameterType="string" resultMap="paperRM">
        select * from test
    </select>

    <!-- 查询一个记录 -->
    <select id="get" parameterType="String" resultMap="paperRM">
        select * from test
        where tst_no=#{paperId}
    </select>
    <select id="getPaperDetail" resultType="com.example.test.entity.Question">
        select * from tst_pro
        where tst_no=#{paperId}
    </select>

    <!-- 删除一条记录 -->
    <delete id="delete" parameterType="string">
        delete from t_paper
        where tst_no=#{paperId}
    </delete>

</mapper>